In [1]:
#2Write a Python function to find the maximum of three numbers Sample input:34,12,7 Sample output: 34'''
a = 34
b = 12
c = 7
if a>b and a>c:
  print(a,'is the maximum')
elif b>a and b>c:
  print(b,'is the maximum')
else:
  print(c,'is the greatest')

34 is the maximum

In [14]:
#4Write a Python function that takes a positive integer and returns the sum of the cube of all the positive integers smaller than the specified number.
def sum(x):
  sum = 0
  for i in range(1, x):
    sum += i**3
  return sum

print(sum(4))

36

In [3]:
#5Write a Python program which iterates from 1 to 10. For multiples of 2, print “Fizz” instead of the number and for the multiples of 5, print “Buzz”. For numbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input: numbers from 1 to 10
for num in range(1,11):
  if(num%2==0 and num%5==0):
    print('fizzbuzz')
  elif(num%2==0):
    print('fizz')
  elif(num%5==0):
    print('buzz')
  else:
    print(num)

1
fizz
3
fizz
buzz
fizz
7
fizz
9
fizzbuzz

In [13]:
#7Write a Python function to find the sum of squares of the numbers in a list
s = 0
l1 = [2,1,3,1]
for n in l1:
  s = s+n*n
  print(s)

4
5
14
15

In [13]:
#8Write a Python program using for loop that will iterate from 1 to 15. For each iteration, check if the current number is odd or even, and display the message to the screen as odd or even.
l1= [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
even=[]
odd=[]
while len(l1)>0:
  l=l1.pop()
  if l%2==0:
    even.append(l)
  else:
      odd.append(l)
print(even)
print(odd)

[14, 12, 10, 8, 6, 4, 2]
[15, 13, 11, 9, 7, 5, 3, 1]

In [6]:
#1Write a Python function to accept a string value from the user and display the count of each character in that string. Sample input: Enter a string value:
string = input("Enter a string: ")
l1 = ['a','s','e','m','b','l','y']
for char in string:
    if char not in l1:
        l1.append(char)
for item in l1:
 print(item,string.count(item), sep = "=")

Enter a string: asembly
a=1
s=1
e=1
m=1
b=1
l=1
y=1

In [9]:
#3Write a Python function called exponent(base,exp) that returns an integer value of base raises to the power of exp.
base = float(input('enter the base:'))
exponent = float(input('enter the exponent:'))
int = base**exponent
print('int value:',base**exponent)

enter the base:3
enter the exponent:4
int value: 81.0

In [2]:
#6Write a Python function to find the most frequent item in a list of numbers'''

NameError: name 'num' is not defined

In [18]:
#9Write a Python function to convert temperatures to and from Celsius Fahrenheit'''
a = int(input('enter the temperature: '))
F = (a*9/5)+32
print ('Celsious to Farenheit: ',(F))

enter the temperature: 32
Celsious to Farenheit:  89.6

In [12]:
#10Write a Python function to calculate the factorial of a number (a nonnegative integer). The function accepts the number as an argument
def factorial(x):
  fact = 0
  if x<0:
    print("Sorry, factorial does not exist for negative numbers")
  elif num == 0:
   print("The factorial of 0 is 1")
  else:
   for i in range(1,x+1):
       fact+=i
   print("The factorial of",x,"is",fact)
factorial(3)

NameError: name 'num' is not defined

In [ ]:
#11 case study
def select(name,assesment,weght)